.auth {
    background-color: #EDF5E1;
    position: relative;
    min-height: 93.5vh;
    padding-top: 70px;
}

.auth h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.auth form {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px;
    background-color: #5CDB95;
    border-radius: 7px;
    box-shadow: 6px 3px 6px 1px;
}

.auth .formParent {
    margin-top: 20px;
}

.notUser {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notUser p {

}

.notUser p span {
    color: #05386B;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}

form.signinForm {
    width: 70%;
}

input[type='file'] {
    margin-top: 4%;
}